In [3]:
import pandas as pd
import seaborn as sns
import requests

In [ ]:
## DataSources:
# https://github.com/fmereani/Cross-Site-Scripting-XSS
# https://www.kaggle.com/datasets/syedsaqlainhussain/cross-site-scripting-xss-dataset-for-deep-learning?select=XSS_dataset.csv

In [12]:
# femerani dataset
raw_payload = requests.get("https://raw.githubusercontent.com/fmereani/Cross-Site-Scripting-XSS/refs/heads/master/XSSDataSets/Payloads.csv").text
with open("datasets/raw/fmereani_xss_dataset_payload.csv", 'w') as f:
    f.write(raw_payload)

In [33]:
# huggingface shengqin dataset
splits = {'train': 'train.csv', 'test': 'test.csv'}
df = pd.read_csv("hf://datasets/shengqin/web-attacks-ab2/" + splits["train"])
df.to_csv("datasets/raw/shengqin_web_attacks_ab2_train.csv", index=False)

In [34]:
# huggingface shenqin datase test
df = pd.read_csv("hf://datasets/shengqin/web-attacks-ab2/" + splits["test"])
df.to_csv("datasets/raw/shengqin_web_attacks_ab2_test.csv", index=False)

In [35]:
df_fmereani = pd.read_csv("datasets/raw/fmereani_xss_dataset_payload.csv")
df_xss_kaggle = pd.read_csv("datasets/raw/XSS_dataset.csv")
df_shengqin = pd.read_csv("datasets/raw/shengqin_web_attacks_ab2_train.csv")

In [38]:
df_fmereani.head(5)

                                            Payloads      Class
0  http://www.nwce.gov.uk/search_process.php?keyw...  Malicious
1  http://www.manchester.gov.uk/site/scripts/goog...  Malicious
2  http://www.ldsmissions.com/us/index.php?action...  Malicious
3  http://education.powys.gov.uk/english/adult_ed...  Malicious
4  http://www.northwarks.gov.uk/site/scripts/goog...  Malicious

In [28]:
df_xss_kaggle.head(5)

   Unnamed: 0                                           Sentence  Label
0           0  <li><a href="/wiki/File:Socrates.png" class="i...      0
1           1               <tt onmouseover="alert(1)">test</tt>      1
2           2  \t </span> <span class="reference-text">Steeri...      0
3           3  \t </span> <span class="reference-text"><cite ...      0
4           4  \t </span>. <a href="/wiki/Digital_object_iden...      0

In [36]:
df_shengqin.head(5)

                                             Payload  Label text_label  ID
0                "1%""  )   waitfor delay '0:0:5'--"      1       SQLi   1
1             <form onmouseup="alert(1)">test</form>      2        XSS   2
2                             your skin looks lovely      0     normal   3
3  xubder rvy6crzr34rulq71yfvscl740klx2d0 s6so06r...      1       SQLi   4
4  åŒã˜ãƒ–ãƒ©ãƒ³ãƒ‰ã®æ™‚è¨ˆã‚’è³¼å…¥ã—ã€ãƒ•ã...      0     normal   5

In [20]:
df_fmereani['Class'].value_counts()

Class
Benign       28068
Malicious    15149
Name: count, dtype: int64